# {{project_name}}

[![tests](https://img.shields.io/github/actions/workflow/status/{{repository_namespace}}/{{package_name}}/testing.yml?branch=main&label=tests)](https://github.com/{{repository_namespace}}/{{package_name}}/actions/workflows/testing.yml)
[![code coverage](https://img.shields.io/codecov/c/gh/{{repository_namespace}}/{{package_name}})](https://codecov.io/gh/{{repository_namespace}}/{{package_name}})
[![pypi version](https://img.shields.io/pypi/v/{{package_name}}?color=blue)](https://pypi.org/project/{{package_name}})
![supported python versions](https://img.shields.io/pypi/pyversions/{{package_name}})

**[Full Documentation][docs]**

{{project_name}} is a Python software for ... Features of {{project_name}} include

- Feature A
- Feature B
- ...

## Quick start

How to get started.

## Installation

How to install.

## User guide

How to use the software.

## Need help?

Ask questions about {{project_name}} on the [{{project_name}} support forum][help-forum].
If you've found an issue with {{project_name}}, please submit a bug report on [GitHub Issues][issues].

## Reference

Full reference

## What’s new?

Track changes to {{package_name}} through the [changelog][changelog].

## Contributing

We greatly appreciate any contributions in the form of a pull request.
Additional information on contributing to {{project_name}} can be found [here][contributing].
We maintain a list of all contributors [here][contributors].

### Code of conduct

Help us keep {{ project_name }} open and inclusive.
Please read and follow our [Code of Conduct][codeofconduct]
[![Contributor Covenant](https://img.shields.io/badge/Contributor%20Covenant-2.1-4baaaa.svg)](CODE_OF_CONDUCT.md).

## License

{{project_name}} is released under a modified BSD license; the full text can be found [here][license].

## Acknowledgements

{{project_name}} is developed and maintained by {{copyright_holder}}.

A full list of all contributors can be found [here][contributors].

[help-forum]: https://{{ repository_provider }}/{{ repository_namespace }}/{{ package_name }}/issues
[issues]: https://{{ repository_provider }}/{{ repository_namespace }}/{{ package_name }}/issues
[installation]: https://{{ repository_provider }}/{{ repository_namespace }}/{{ package_name }}/blob/main/INSTALL.md
[contributing]: https://github.com/{{repository_namespace}}/{{package_name}}/blob/main/CONTRIBUTING.md
[codeofconduct]: https://github.com/{{repository_namespace}}/{{package_name}}/blob/main/CODE_OF_CONDUCT.md
[changelog]: https://{{ repository_provider }}/{{ repository_namespace }}/{{ package_name }}/blob/main/CHANGELOG.md
[contributors]: https://{{repository_namespace}}.github.io/{{package_name}}/graphs/contributors
[license]: https://raw.githubusercontent.com/{{repository_namespace}}/{{package_name}}/main/LICENSE
[docs]: https://{{repository_namespace}}.github.io/{{package_name}}/
