# <div align="center"><i>{{project_name}}</i></div>

<div align="center">
<a href="https://github.com/{{repository_namespace}}/{{repository_name}}/releases"><img src="https://badgen.net/github/release/{{repository_namespace}}/{{repository_name}}?icon=github&color=blue"></a>
<a href="https://github.com/{{repository_namespace}}/{{repository_name}}"><img src="https://badgen.net/github/license/{{repository_namespace}}/{{repository_name}}?icon=license&color=purple"></a>
<a href="https://{{repository_namespace}}.github.io/{{repository_name}}"><img src="https://github.com/{{repository_namespace}}/{{repository_name}}/actions/workflows/docs.yml/badge.svg"></a>
</div>

{{project_name}} is a [*datalab*](https://datalab-org.io) plugin generated using the [datalab-app-plugin-template](https://github.com/datalab-org/datalab-app-plugin-template) template.

{{project_description}}

Releases are created via semantic version tags on GitHub, and will require manually updating the CHANGELOG.
